@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

main {
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
}

main section:nth-of-type(2) {
    line-height: 0;
    column-count: 3;
    column-gap: 0.5em;
}

section img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    max-height: 50em;
}

.blauw img.blauw,
.bruin img.bruin,
.geel img.geel,
.oranje img.oranje,
.paars img.paars,
.roze img.roze,
.zwartwit img.zwart-wit {
    display: none;
}

header {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 0 0.5em;
    margin-bottom: 2em;
}

header h1 {
    display: inline-block;
}

/* Filter opties */

main section:first-of-type {
    font-size: 1.1em;
}

main section legend {
    font-size: 1.2em;
    padding-bottom: 0.1em;
    margin-bottom: 0.9em;
    border-bottom: 0.1em solid black;
}

@media (min-width:80em) {
    main section:nth-of-type(2) {
        column-count: 4;
    }
}

@media (min-width:32em) and (max-width:45em) {
    main section:nth-of-type(2) {
        column-count: 2;
    }
}

@media (max-width:32em) {
    main section:nth-of-type(2) {
        column-count: 1;
    }
}